@tailwind base;
@tailwind components;
@tailwind utilities;

/* Uniquement la base avec quelques styles minimes globaux */
@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: "JetBrains Mono", monospace;
    font-size: 1rem;
    line-height: 1.625;
    background-color: #fafaf8;
    color: black;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Inter", sans-serif;
    font-weight: 600;
  }
}
